  <h1 class="title"><span>{{site.memberships_title}}</span></h1>
  <div class="projects-wrapper">
    {% for project in site.data.memberships %}
      <div class="project neumorphism-card" data-aos="zoom-in-down">
        <div class="name-link-wrapper">
          <h3>{{project.name}}</h3>
        </div>
	<p class="project-desc">{{project.type}}</p>
        <p class="project-desc">{{project.descr}}</p>
        {% if project.demo %}
          <a class="highlight-link" href="https://{{project.demo}}" target="_blank" rel="noreferrer">
            Website
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>

